*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@-webkit-keyframes lightSpeedIn {
   0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}
@keyframes lightSpeedIn {
    0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.animated.lightSpeedIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

html {
  cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto;
}
body {
  background-color: #E7E8EA;
  font-family: 'Puritan', sans-serif;
  height: 1100px;
}
.overLord {
  background-image: url("../img/ifetchBackground.jpeg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 1100px;
}
.videoPromo {
  box-shadow: 3px 3px 18px black;
  position: absolute;
  top: 150px;
  left: 850px;
}
.videoPromo:hover + .promoSentence {
  display: block;
}
.promoSentence {
  font-style: italic;
  position: absolute;
  text-shadow: 1px 1px 3px black;
  top: 390px;
  left: 925px;
  display: none;
}
.firstSentence {
  font-weight: bold;
  position: absolute;
  top: 435px;
  left: 940px;
  text-align: right;
}
.secondSentence {
  font-weight: bold;
  position: absolute;
  top: 465px;
  left: 977px;
  text-align: center;
}

.firstPlace {
  position: absolute;
  left: 960px;
  top: 15px;
  border-radius: 60px;
}
.blueRibbon {
  position: absolute;
  left: 1115px;
  top: 100px;
}
.thinkBubble {
  position: absolute;
  left: 145px;
}
.thinkBubbleSentence {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 20px;
  position: absolute;
  top: 75px;
  left: 170px;
}
h3 {
  border-bottom: 2px dotted black;
  padding-bottom: 20px;
}
.bubbleContent {
  text-shadow: 1px 1px 2px white;
  padding: 5px;
  float: left;
  position: absolute;
  text-align: center;
  top: 565px;
  left: 220px;
	margin:10px;
	width: 500px;
	height: 355px;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:10px 10px 10px 10px;
	-webkit-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.25);
}
.because {
  font-size: 20px;
  font-weight: bold;
}
.buyButton {
  border: 1px solid #E46C26;
  background-color: #E46C26;
  color: white;
  text-shadow: none;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 1px 1px 4px black;
}
.buyButton:hover {
  cursor: pointer;
}
.buyButton:active {
  box-shadow: none;
}
footer {
  background-color: #b2adad;
  position: relative;
  bottom: 148px;
  width: 1500px;
  height: 200px;
}
table {
  position: absolute;
  top: 17px;
  left: 260px;
  width: 447px;
  height: 165px;
  border: 2px ridge grey;
  border-spacing: 0;
  border-radius: 10px;
}
th {
  padding-top: 15px;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}

td:nth-child(-n+3) {
  border-bottom: 1px solid grey;
}
td:nth-child(n+3) {
  text-align: right;
}
td:nth-child(2) {
  color: #25AAE1;
}
td:nth-child(2):hover {
  color: #25AAE1;
  text-shadow: 1px 1px 3px white;
  cursor: pointer;
}
.contact {
  position: absolute;
  left: 800px;
}
.joinPack {
  position: absolute;
  left: 1050px;
}
button {
  font-size: 18px;
  font-family: 'Puritan', sans-serif;
  cursor: pointer;
  border-radius: 40px;
  background-color: #25AAE1;
  color: white;
  padding: 10px;
}
input, textarea {
  border: 2px inset grey;
  width: 190px;
  height: 25px;
  border-radius: 10px;
}

input:focus, textarea:focus {
  background: #91daf7;
}
.soFooter {
  font-size: 15px;
  position: absolute;
  height: 55px;
  top: 200px;
  width: 100%;
  background-color: #838383;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.copyright {
  position: absolute;
  top: 20px;
  left: 350px;
}
.socialMedia {
  position: absolute;
  top: 13px;
  left: 1100px;
}
#faInsta, #faPin, #faYou, #faTwit, #faFace {
  color: #46494A;
  font-size: 27px;
  padding-right: 15px;
}
#faInsta:hover, #faPin:hover, #faYou:hover, #faTwit:hover, #faFace:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px black;
}
#faInsta:active, #faPin:active, #faYou:active, #faTwit:active, #faFace:active {
  text-shadow: none;
}

#faInsta:hover:after, #faPin:hover:after, #faYou:hover:after, #faTwit:hover:after, #faFace:hover:after {
  position: absolute;
  color: white;
  border: 2px solid #D1D1CD;
  background-color: #46494A;
  padding: 3px;
  border-radius: 4px;
  font-size: 12px;
  bottom: 28px;
}

#faInsta:hover:after {
  content: "Instagram";
  left: -22px;
}
#faPin:hover:after {
  content: "Pinterest";
  left: 25px;
}
#faYou:hover:after {
  content: "YouTube";
  left: 65px;
}
#faTwit:hover:after {
  content: "Twitter";
  left: 110px;
}
#faFace:hover:after {
  content: "Facebook";
  left: 145px;
}
